* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #1a786a;
    color: #fff;
    padding: 2rem;
    width: 15%;
    margin: 4rem auto;
    margin-top: 15%;
    border-radius: 10px;
    text-align: center;
    height: 15rem;
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__temperature {
    font-size: 1.75rem;
}